.blog-category-select {
  background-color: var(--color-primary-light);
  border: none;
}
.blog-category-select:focus,
.blog-category-select:active {
  outline: none;
  box-shadow: none;
}
.desktop-blog-dropdown {
  border-right: 4px solid var(--color-primary);
  border-top: 4px solid var(--color-primary);
  border-bottom: 4px solid var(--color-primary);
  background-clip: padding-box;
}

/* Scrollbar */
.desktop-blog-dropdown::-webkit-scrollbar {
  width: 8px;
}

.desktop-blog-dropdown::-webkit-scrollbar-track {
  background: transparent;
}

.desktop-blog-dropdown::-webkit-scrollbar-thumb {
  background: #3864b0;
  border-radius: 999px;
}

.desktop-blog-dropdown::-webkit-scrollbar-thumb:hover {
  background: #3864b0;
}
