.blogSwiper {
  width: 100%;
  padding-bottom: 40px !important;
}
.swiper-pagination-bullet {
  background: white;
  opacity: 0.5;
}
.swiper-pagination-bullet-active {
  background: var(--color-primary);
  opacity: 1;
}

.blog-card {
  margin-right: 10px;
  border: none;
  width: 100%;
}
.blog-card > div {
  padding: 0px;
  gap: 10px;
}
.blog-wrapper-img {
  position: relative;
  width: 100%;
}
.blog-wrapper-img > img {
  width: 100%;
  padding: 5px;
}
.desktop-badge-wrapper {
  display: none;
}

.blog-card:hover .desktop-badge-wrapper {
  display: block;
  position: absolute;
  bottom: 0;
  padding: 7px 8px 0px 8px;
  width: 100%;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6));
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

@media (min-width: 640.99px) {
  .blog-swiper-wrapper {
    display: none;
  }
  .blog-cards-wrapper {
    display: flex;
    width: 100%;
  }
}

@media (min-width: 0px) and (max-width: 640px) {
  .blog-cards-wrapper {
    display: none;
  }
}
