@import "swiper/css";
@import "swiper/css/pagination";
@import "swiper/css/scrollbar";
@import "swiper/css/effect-coverflow";
@import "swiper/css/effect-cube";

@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --color-primary-light: #cce4ff;
  --color-primary: #b5d5ff;
  --color-dark-black: #171c24;
  --color-light-black: #2f3541;
  --color-off-white: #e7e7e7;
  --color-box-shadow-dark: #5f656e;
  --color-nav-bar: #0f1114;
  --color-nav-scroll: #0f1214;
}

@layer utilities {
  .animate-ping-slow {
    animation: ping 3s cubic-bezier(0, 0, 0.2, 1) infinite;
  }
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

main {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.glassy-background {
  backdrop-filter: blur(12px);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -4px rgba(0, 0, 0, 0.1);
  border-radius: 0.75rem;
}

.glassy-background-dark {
  backdrop-filter: blur(12px);
  background-color: rgba(0, 0, 0, 0.4);
  border: 1px solid rgba(255, 255, 255, 0.1);
  box-shadow:
    0 10px 15px -3px rgba(0, 0, 0, 0.4),
    0 4px 6px -4px rgba(0, 0, 0, 0.4);
  border-radius: 0.75rem;
}

/* Link Hover Effect */
.link-hover:before,
.link-hover:after {
  display: inline-block;
  opacity: 0;
  -webkit-transition:
    -webkit-transform 0.3s,
    opacity 0.2s;
  -moz-transition:
    -moz-transform 0.3s,
    opacity 0.2s;
  transition:
    transform 0.3s,
    opacity 0.2s;
}
.link-hover:before {
  margin-right: 5px;
  content: "[";
  transform: translate(20px, -2px);
}
.link-hover:after {
  margin-left: 5px;
  content: "]";
  transform: translateX(20px);
}
.link-hover:hover:before,
.link-hover:hover:after,
.link-hover:focus:before,
.link-hover:focus:after {
  opacity: 1;
  transform: translate(0px, -2px);
}

/* Animation */
@keyframes fadeInDown {
  from {
    opacity: 0;
    transform: translateY(8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(-8px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-in-down {
  animation: fadeInDown 0.3s ease-in-out forwards;
}

.fade-in-up {
  animation: fadeInUp 0.3s ease-in-out forwards;
}

/* Contact Section */
.dark-input input,
.dark-textarea {
  background-color: var(--color-light-black);
  color: var(--color-off-white);
  margin-top: -8px;
  border: 2px solid var(--color-dark-black);
}
.error-input input,
.error-textarea {
  background-color: #561000;
  color: var(--color-off-white);
  margin-top: -8px;
}
.dark-input svg {
  color: var(--color-off-white);
  margin-top: -8px;
}
.error-input svg {
  color: var(--color-off-white);
  margin-top: -8px;
}
