@import "tailwindcss";
@plugin "flowbite-react/plugin/tailwindcss";
@source "../.flowbite-react/class-list.json";

@theme {
  --color-primary: #b5d5ff;
  --color-dark-black: #171c24;
  --color-light-black: #2f3541;
  --color-off-white: #e7e7e7;
  --color-box-shadow-dark: #5f656e;
  --color-nav-bar: #0f1114;
  --color-nav-scroll: #0f1214;
}

/* Home - Skils Tabs */
div[role="tablist"] {
  border: none;
}
div[role="tablist"] button[role="tab"] {
  background-color: var(--color-box-shadow-dark);
  color: var(--color-off-white);
  padding: 10px;
  margin-right: 4px;
  border-radius: 10px;
}
div[role="tablist"] button[role="tab"]:hover {
  cursor: pointer;
}
div[role="tablist"] button[role="tab"][aria-selected="true"] {
  background-color: var(--color-light-black);
  color: var(--color-off-white);
  box-shadow: 2px 2px 2px var(--color-box-shadow-dark);
}

/* Home - Portfolio Cards */
.project-card > div {
  padding: 0px;
  gap: 10px;
}
.project-card:last-child {
  display: none;
}
@media (min-width: 768px) {
  .project-card:last-child {
    display: block;
  }
}

/* Home - Blog Cards*/

@media (max-width: 640px) {
  .blog-container {
    overflow: hidden;
    width: 100%;
    display: flex;
    justify-content: center;
  }
  .blog-track {
    display: flex;
    scroll-snap-type: y mandatory;
    overflow-x: scroll;
    width: 95%;
  }
  .blog-track::-webkit-scrollbar {
    display: none;
  }
  .blog-card {
    flex: 0 0 100%;
    margin-right: 10px;
    scroll-snap-align: start;
  }
}
.blog-card > div {
  padding: 10px;
  gap: 10px;
}

/* Home - Contact */
.dark-input input,
.dark-textarea {
  background-color: var(--color-light-black);
  color: var(--color-off-white);
  margin-top: -8px;
  border: 2px solid var(--color-dark-black);
}
.error-input input,
.error-textarea {
  background-color: var(--color-off-white);
  color: #8d0c0c;
  margin-top: -8px;
  border: 2px solid #8d0c0c;
}
.dark-input svg {
  color: var(--color-off-white);
  margin-top: -8px;
}
.error-input svg {
  color: #8d0c0c;
  margin-top: -8px;
}

/* Link Hover Effect */
.link-hover:before,
.link-hover:after {
  display: inline-block;
  opacity: 0;
  -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
  -moz-transition: -moz-transform 0.3s, opacity 0.2s;
  transition: transform 0.3s, opacity 0.2s;
}
.link-hover:before {
  margin-right: 5px;
  content: "[";
  -webkit-transform: translateX(20px);
  -moz-transform: translateX(20px);
  transform: translateX(20px);
}
.link-hover:after {
  margin-left: 5px;
  content: "]";
  -webkit-transform: translateX(-20px);
  -moz-transform: translateX(-20px);
  transform: translateX(-20px);
}
.link-hover:hover:before,
.link-hover:hover:after,
.link-hover:focus:before,
.link-hover:focus:after {
  opacity: 1;
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  transform: translateX(0px);
}

/* Portfolio Arrows */
.arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}
.left-arrow {
  left: 0;
}
.right-arrow {
  right: 0;
}

/* About Page */
.about-card-p div {
  padding: 5px;
}
div [data-testid="flowbite-tooltip-target"] {
  width: auto;
}
