.skills-tab-text {
  font-size: 16px;
}

.skillsSwiper {
  width: 100%;
  overflow: hidden;
  padding-bottom: 15px;
  padding-top: 20px;
}
.skillsSwiper .swiper-slide {
  text-align: center;
  font-size: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
}
